#scene{
  margin-left:auto;
  margin-right:auto;
}

#container{
  width:70%;
  display:inline-block;
  min-height: 600px;
  min-width: 800px;
  border: solid 5px black;
  margin:auto;
}
#crafty-aside{
  position:relative;
  float:left;
  width:20%;
  margin-left:5%;
}


#crafty-construction-liste{
border: solid 5px white;
height:600px;
width: 200px;
}

#crafty-construction{
/*background: url("../img/menu_icon.png") no-repeat;*/
}

#ul_construction{
/*list-style-type:none;*/
/*width: 50px;
height: 50px;
margin-bottom:10px;*/

}



#board_icons td{
  height:50px;
  width: 50px;
  border: solid 1px blue;
}



#ul_construction li{
  list-style-type:none;
  width: 50px;
  height: 50px;
	background: url("../img/menu_icon.png") no-repeat;
  border: solid 1px black;
}


#ul_construction #menu_church{
background-position: 85% 48%;
}
#ul_construction #menu_museum{
background-position: 20% 10%;
}

#ul_construction #menu_warehouse{
background-position: 47% 26%;
}

#ul_construction #menu_desk{
background-position: 58% 26%;
}
#ul_construction #menu_restaurant{
background-position: 4% 79%;
}
#ul_construction #menu_night_club{
background-position: 20% 79%;
}
#ul_construction #menu_temple{
background-position: 91% 79%;
}
#ul_construction #menu_temple_tower{
background-position: 20% 74%;
}
#ul_construction #menu_farm{
background-position: 58% 90%;
}
}
