#scene{
  margin-left:auto;
  margin-right:auto;
}

#container{
  width:70%;
  display:inline-block;
  min-height: 600px;
  min-width: 800px;
  border: solid 5px black;
  margin:auto;
}
#crafty-aside{
  position:relative;
  float:left;
  width:20%;
  margin-left:5%;
}

#ul_construction li{
list-style-type:none;
width: 50px;
height: 50px;
margin-bottom:10px;
background: url("../img/menu_icon.png") no-repeat;
}

#menu_chu{
background-position: right top;
}
